DATABASE_URL="postgresql://postgres.<project-ref>:YOUR_DB_PASSWORD@aws-1-us-east-2.pooler.supabase.com:6543/postgres"
DIRECT_DATABASE_URL="postgresql://postgres:YOUR_DB_PASSWORD@db.<project-ref>.supabase.co:5432/postgres?sslmode=require"
VITE_SUPABASE_URL="https://<project-ref>.supabase.co"
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
VITE_ADMIN_USERNAME="ADMIN"
VITE_ADMIN_PASSWORD_HASH="3dbc36f1068ab85bbf98397f0c40a0d4dfcbfaf300fa680205555a6d2de4bb80"
VITE_PLAYER_LOGIN="TIDIHUNTER"
VITE_PLAYER_PASSWORD_HASH="5994471abb01112afcc18159f6cc74b4f511b99806da59b3caf5a9c173cacfc5"
